.box {
	padding: $hmargin;
	margin-bottom: $hmargin;

	&>*:first-child {
		margin-top: 0 !important;
	}
	&>*:last-child {
		margin-bottom: 0 !important;
	}
}

.shortbox {
	padding: 10px $hmargin;
	margin-bottom: 10px;
}

.card {
	box-shadow: 0 1px 3px -1px rgba(0,0,0,.1);
}

.inset {
	background: rgba(0,60,60,.05);
	box-shadow: inset 0 0 3px rgba(0,0,0,.1);
	border-radius: 5px;
}

.searchBox {
	height: 30px;
	color: #999;
	border-bottom: 1px solid #999;
	margin-top: $hmargin;

	i {
		float: right;
	}
}

.icon {
	color: #4d8492;
}
.icon-rotated {
	transform: rotate(-20deg);
}

.icon-circle {
	display: inline-block;
	color: #fff;
	width: 26px; height: 26px;
	border-radius: 50%;
	background: #4d8492;
	font-size: 16px;
  vertical-align: top;
  margin-top: 3px;
	text-align: center;
	padding-top: 6px;
  transform: rotate(-20deg);
}

.loadingLayer {
	position: fixed;
	width: 100%; height: 100%;
	left: 0; top: 0;
	background: rgba(0,0,0,0.5);
	z-index: -1;
	opacity: 0;
	transition: opacity .3s;
	color: #fff;

	&.visible {
		z-index: 10000;
		opacity: 1;
	}
}

.llContainer {
	background: rgba(0,0,0,0.2);
	width: 200px;
	height: 300px;
	padding: 55px 0px;
	border-radius: 100px;
	text-align: center;
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.5em;
	box-shadow: 0 0 20px rgba(0,0,0,.2);

	i {
		animation: spin 4s ease-in-out infinite;
		font-size: 2.5em;
	}
}


.ata {
	max-height: 150px;
	padding: 9px 15px 8px;
}
