$input-padding-top: 10px;
$input-padding-left: 15px;

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
select,
textarea {
  border: 0;
  border-radius: 2px;
  box-shadow: inset 0 3px 1px 0 rgba(0, 0, 0, 0.05), 0 0 0 2px rgba(0,0,0,.1);
  padding: $input-padding-top $input-padding-left;
  height: 36px;
  font-size: 16px;

  &:focus {
    outline: 2px solid rgba(0,0,0,.2);
  }

  &.fullwidth {
    width: 100%;
    padding: 15px 30px;
    border-radius: 0;
  }
}

select {
  position: relative;
  padding-right: 25px;
  appearance: none;
}

select, .statusPicker {
  background-position: right 8px top 13px;
  background-repeat: no-repeat;
  background-size: 10px 6px;
  background-image: url("data:image/false;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAKCAYAAACE2W/HAAAABGdBTUEAALGPC/xhBQAAARxJREFUKBWNkb9Kw1AUh5t7txqfwLkQugo+gVPRQZwKmaRJM7t0FMStdM5NQhzSpWaTgi/gM3TRwRdoFgcHQxK/I1hIIcUDl3v+/L5zbk56PcwY46Zpeiz+IYuiqB+G4VQ0CmjWNM2yLMsVt+oC8zzXdV0/UTc0eFBa69yyrC3QiMS8CyyKwlC7EC0nU57nfZC4JvgGvo3j+GYfpuEduQmaLwZd+r7/Zv2JBKiqKpUGFM9p+Co1oAlPTMhXhFdBEKwlvwMl4HsXMhXRFvgMYEj8zNFKqSkWi06sBSJQTFhzj4DfqZ/g9/HvmSTP3Vlriwhq27bH3BuAgUAoH/choVugJFzX/ZQFAMv2XhzH+f1vUvuXJUlymmXZUZf4BxEfgEkXP9fuAAAAAElFTkSuQmCC");
}

textarea {
  height: auto;
  min-height: 200px;
  width: 100%;
  margin-bottom: -5px;
  padding: 15px;
}

$placeholder-color: rgba(0,0,0,.4);
::-webkit-input-placeholder { color: $placeholder-color; }
::-moz-placeholder { color: $placeholder-color; } /* firefox 19+ */
:-ms-input-placeholder { color: $placeholder-color; } /* ie */
input:-moz-placeholder { color: $placeholder-color; }

button, input[type=button], a.button, a.shadowButton {

  background: #20C2E3;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,.1);
  padding: 9px 15px 10px;
  cursor: pointer;
  font-family: Quicksand,sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  transition: background-color .3s,box-shadow .3s;
  box-shadow: 0 2px #13b3d4;
  text-shadow: 0 0 1px rgba(0,0,0,.2);


  &:focus {
		border: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom-width: 0px;
    outline: 1px solid #148da6;
    box-shadow: 0 2px #148da6;
    position: relative;
    z-index: 1;
  }

  &:hover, &:active {
    background: #19a4c5;
    box-shadow: 0 2px #2892ad;
  }

  &.buttonBlock {
    width: 100%;
    margin: 0;
  }

  &.hilitedButton {
    background: rgba(255,255,0,.9);
    color: #333;
    &:hover {
      background: #ff0;
    }
  }
}

button[disabled], .button[disabled]{
  opacity: .7;
  cursor: default;

  &:hover {
    background: rgba(0,0,0,.1);
    opacity: .7;
  }
}

button.toggle {
  display: inline-block;
  position: relative;
  height: 10px;
  width: 40px;
  background: rgba(0,0,0,.2);
  border-radius: 5px;
  border: 0;
  box-shadow: none;

  &:after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ec334b;
    position: absolute;
    left: 2px;
    top: -7px;
    transition: left .3s, background-color .3s;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
  }

  &.toggleOn:after {
    left: 14px;
    background-color: #237b4f;
  }

  &.toggleLoading:after {
    background-color: #999;
  }

  &:focus {
    outline: none;
    &:after {
      border: 2px solid rgba(0,0,0,.3);
    }
  }
}

a.shadowButton {
  display: inline-block;
  color: $blue3;
  background-color: rgba(0,0,0,.001);
  border: 1px solid transparent;
  box-shadow: none;
  font-weight: inherit;
  opacity: .8;

  &:hover {
    background-color: rgba( 0, 0, 0, .05);
    border: 1px solid rgba(0,0,0,.1);
    opacity: 1;
  }
}

.darkButtons {
  button {
    color: #333;
    background: rgba(0,0,0,.05);

    &:hover {
      background: rgba(0,0,0,.1);
    }
  }
}

.buttonArray {

  button,.button {
    border-radius: 0;
    border-right-width: 0 !important;
    height: 34px;

    &:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    &:last-child {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      border-right-width: 1px !important;
    }
  }
}

.toggleLabel {
  line-height: 30px;
  &>* {
    vertical-align: middle;
  }

  &>button {
    margin: 0 10px;
  }
}

.fancyRadio, .fancyCheckbox {
  cursor: pointer;

  input {
    visibility: hidden;
    position: absolute;
    left: -9999px;
  }

  .fancyDiv {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 3px 1px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    background: rgba(0, 0, 0, 0.1);
    transition: background-color .2s;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;

    &:after {
      content: ' ';
      width: 8px;
      height: 8px;
      display: block;
      position: absolute;
      transform: scale(0);
      transition: transform .4s;
    }
  }

  &.checkOn {
    .fancyDiv {
      background: #fff;
      border: 0;
      box-shadow: inset 0 3px 1px 0 rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(0, 0, 0, 0.1);
    }
  }
}

.fancyRadio {
  .fancyDiv:after {
    border-radius: 5px;
    background: #333;
    top: 1px;
    left: 1px;
  }

  &.checkOn {
    .fancyDiv:after {
      transform: scale(1);
      top: 3px;
      left: 3px;
    }
  }
}

.fancyCheckbox {
  .fancyDiv {
    border-radius: 2px;
  }

  .fancyDiv:after {
    border-bottom: 3px solid #333;
    border-right: 3px solid #333;
    width: 6px;
    background: transparent;
    transform: scale(.01) rotate(0);
    top: 0px;
    left: 3px;
  }

  &.checkOn {
    .fancyDiv:after {
      transform: scale(1) rotate(45deg);
      top: 2px;
      left: 4px;
    }
  }
}

.inputGroup {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 5px;
  }

  &.inline {
    label {
      display: inline;
      margin: 0 10px 5px 0;
    }
  }

  &.inputError {
    input, textarea, select {
      background: #fbb;
    }
  }

  .errorMessage {
    margin-top: 0;
    position: relative;
  }
}

.errorMessage {
  display: block;
  background: $color-error;
  border: 2px solid rgba( 255,255,255,.2 );
  padding: 2px 10px;
}

.formGroup {
  margin-bottom: 30px;

  h3 {
    margin-bottom: 10px;
  }

  p {
    margin-top: 10px;
  }
}

.datePicker {
  select {
    margin-right: 5px;
  }
}

.timePicker {
  text-align: center;
}

.exclamation {
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 18px;
  line-height: 16px;
  height: 18px;
  text-align: center;
}

.statusPicker {
  position: relative;
  background-position: right 20px top 18px;


  .inputGroup {
    margin: 0;
  }

  select {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.01;
    cursor: pointer;
    height: 40px;
  }

  &.light {
    .userStatus:before {
      border: 2px solid rgba(0,0,0,.3);
    }
    path {
      fill: #b1f59a !important;
    }
  }

}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  i {
    animation: spin 2s ease-in-out infinite;
    display: inline-block;
    width: 1em;
    margin: 0;
  }
}

.controls {
  text-align: right;
  &>* {
    display: inline-block;
    margin-left: 20px;
  }
}


.lineInput {
	position: relative;

	input {
		background: none;
		border: 0;
		box-shadow: none;
    width: 100%;
		font-style: italic;
		padding-bottom: 5px;

		&:focus {
			outline: none;
		}
	}

  label {
    position: absolute;
    top: $input-padding-top - 1; left: $input-padding-left;
    opacity: .8;
    transform: translate( -$input-padding-left*1.5, -1.5em) scale(.8);
    transition: transform .3s;
  }

  &.empty label {
    transform: translate(0) scale(1);
  }

	&:before, &:after {
		content: '';
		position: absolute;
		bottom: 0; left: 0;
		display: block;
		height: 1px;
		width: 100%;
		background: #ccd;
		transition: width .3s;
	}

	&:after {
		width: 0%;
		background: #4d8492;
		left: 50%;
		transform: translateX(-50%);
	}

  &.focused {
    label {
      color: #4d8492;
    }
  }

	&.focused:after {
		width: 100%;
	}

  &.big {
    input {
    	font-family: 'Raleway', sans-serif;
      font-size: 1.4em;
    }
  }

  &.nolabel {
    input {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
