.toaster {
  position: absolute;
  width: 100%;
  height: 0;
  top: 30px;
  left: 0;
  z-index: 10000;

  &>span {
    display: block;
    height: 0;
  }

  .toast {
    max-width: 600px;
    padding: 0;
  	transition: margin .5s, opacity .5s, transform .5s;
  }
  .toastIcon {
    float: left;
    font-size: 30px;
    text-align: center;
    width: 60px;
    padding: 6px 0;
  }
  .toastContent {
    margin-left: 60px;
    padding: 14px 10px;
    background: #fff;
    color: $dark-text;
  }

  .toastClose {
    cursor: pointer;
    color: #999;

    &:hover {
      color: $dark-text;
    }
  }
}

.toast {
  border: 2px solid rgba(255,255,255,.2);
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0,0,0,.2);
  padding: 10px;
  color: #fff;
  background: #999;
  opacity: 1;
  margin: 10px auto 0px;
  position: relative;
}

.toast-error {
  background: $color-error;
}

.toast-warn {
  background: $color-warning;
}
.toast-success {
  background: $color-success;
}

.toastClose {
  position: absolute;
  right: 8px; top: 8px;
  transition: transform .3s;
  transform: scale(1);
  margin-left: 20px;

  &:hover {
    color: #fff;
    transform: scale(1.5);
  }

  i {
    margin-left: 1px;
  }
}

.toasterTrans-leave {
  opacity: 1;
  margin: 10px auto 0;
  transform: scale(1) translateY(0);
}

.toasterTrans-enter.toasterTrans-enter-active {
  animation-name: bounceIn;
  animation-duration: .5s;
  animation-fill-mode: both;
}

.toasterTrans-leave.toasterTrans-leave-active{
	opacity: 0.01;
	margin: -200px auto 165px;
}
.toasterTrans-enter {
  opacity: 0.01;
  transform: scale(.5) translateY(-100px);
}

@keyframes bounceIn {
  0%, 50%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355);
  }
  0% {
    opacity: 0;
    transform: scale3d(.3, .2, .3);
  }
  50% {
    transform: scale3d(1.1, .94, 1.1);
  }
  80% {
    opacity: 1;
    transform: scale3d(.96, .94, .96);
  }
  100% {
    opacity: 1;
    transform: scale3d(1,1,1);
  }
}
