html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	/* e1e6e8 */
	height: 100vh;

	background: #dfe6e8;
	background:url('/img/circuit-diagonal.png'), linear-gradient(to bottom, #dfe6e8 0%, #dfe6e8 70%, #f5f7f9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfe6e8', endColorstr='#f9fbfb', GradientType=0 );

	background-attachment: fixed;
	color: #353c3e;
	font-size: 18px;

	font-family: 'Oxygen', sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
	color: $blue3;
}

h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.3em; }

a {
	cursor: pointer;
  color: $color-link;

	a:hover {
		color: $color-link-hover;
	}
}

#app {
	overflow: hidden;
}

$header-height: 50px;

.appHeader {
	background: #353c3e;
	color: #eee;
	padding: 1px;
  height: $header-height;

	h1 {
		width: 90px; height: 40px;
		margin: 0;
		background: url('/img/home-app-logo.png') 0 0 no-repeat;
		background-size: auto 100%;
		text-indent: -5000px;
		margin: 5px 20px;
    float: left;

		a {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	a.shadowButton {
		color: #eee;
	}

	nav {
		float: right;
	}
}

.headerLinks {
	float: right;

	a.shadowButton {
  	height: $header-height;
    line-height: 32px;
		box-shadow: none !important;
	}
}

.wideScreen {
	max-width: 1100px;
	margin: 0 auto;
}

.screen {
	max-width: 800px;
	margin: $hmargin auto 0;
	padding-top: 1px;
}

.alert {
	background: #fff;
	border: 2px solid rgba(0,0,0,.1);
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	width: 100%;

	&>*:first-child {
		margin-top: 0;
	}
	&>*:last-child {
		margin-bottom: 0;
	}

	&.red {
		background: #ffebee;
	}
	&.yellow {
		background: #fff6d9;
	}
	&.green {
		background: #d8ffe7;
	}

	a {
		text-decoration: underline;
		cursor: pointer;
	}

  p {
    margin: 0 0 10px;
  }
}

.small {
  font-size: .85em;
}
