$dark-text: #333;

$shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
$step-shadow: -5px 10px 5px rgba(0, 0, 0, 0.2);

$color-error: rgba(230, 0, 70, 0.9);
$color-warning: rgba( 212, 166, 37, .9);
$color-success: rgba( 0, 204, 57, .9);
$color-hilited: #ff0;

$hmargin: 30px;

$color: #82a7b0;
$color-link: #19a4c5;
$color-link-hover: #4b95a7;

$color-back: #dfe6e8;
$color-back-2: #f0f3f4;
$color-back-3: #fafafc;
